@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: "Open Sans", sans-serif;
}

button {
  background-color: #4c8930;
  color: #fff;
  border: none;
  min-width: 127px;
  min-height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 100;
  border-radius: 5px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

select {
  font-size: 16px;
  text-align: left;
  color: #555;
  font-weight: 100;
  cursor: pointer;
  background-color: #fff;
}

#language {
  min-width: 180px;
  min-height: 35px;
  border-radius: 5px;
  padding: 3px 8px 0 13px;
  margin: -2px 120px 0 10px;
  border: 0px;
}

.greybd {
  border: 1px solid #ddd;
}

#topnav {
  min-height: 44px;
  text-align: center;
  font-weight: 200;
  padding-top: 12px;
}

#topnav a {
  color: #fff;
  padding: 0 10px 0 10px;
}

#mainnav {
  min-height: 110px;
}

#mainnav a {
  color: #999999;
}

#searchsubmit {
  background-color: #4c8930;
  color: #fff;
  border: none;
  padding: 10px 4.5px 10px 4.5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  border-radius: 5px;
}

#searchsite {
  background-color: #fff;
  color: #000;
  border: 1px solid #dddddd;
  padding: 10px 4.5px 10px 4.5px;
  minimum-width: 177px;
  font-size: 16px;
  font-weight: 100;
  border-radius: 5px;
}

#logo {
  padding-left: 112px;
  margin-right: 30px;
}

#searchsite {
  max-width: 150px;
}

#page-search {
  margin-right: 1rem;
}
#page-search input {
  padding: 7.5px 15px 7.5px 15px;
}

#hero {
  background-image: url("../images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #666;
  max-height: 480px;
  background-position: center -128px;
}
#hero button {
  margin-top: -1rem;
  min-width: 141px;
  min-height: 50px;
}

#hero-title {
  font-size: 3.4rem;
}

#compcards div:nth-child(1) {
  background-image: url("../images/company.jpg");
}
#compcards div:nth-child(2) {
  background-image: url("../images/products.jpg");
}
#compcards div:nth-child(3) {
  background-image: url("../images/contact.jpg");
}

.compcard {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #666;
  background-position: center center;
  min-height: 222px;
  border-radius: 5px;
  text-align: center;
}
.compcard a {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
}

#counters {
  margin-bottom: 3rem;
}

.counter {
  display: flex;
  max-height: 200px;
}
.counter p {
  line-height: 1rem;
}
.counter h2 {
  font-size: 3.5rem;
  font-weight: 200;
  line-height: 0rem;
}
.counter img {
  margin-top: 25px;
  max-height: 61px;
}

#news {
  background-color: #eceeef;
  min-height: 500px;
}

@media (max-width: 1024px) {
  #topnav {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #language {
    margin: 10px 0 10px 0;
  }

  #page-search {
    margin-right: 18rem;
    margin-left: 8rem;
  }
  #page-search input {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }

  .menu {
    min-width: 200px;
  }

  #hero-title {
    font-size: 2rem;
    padding: 0 10px 0 10px;
  }

  #hero {
    min-height: 200px;
  }
  #hero button {
    margin-bottom: 1%;
  }

  #compcards div:nth-child(3) {
    background-position: center 0px;
  }
}
@media (min-width: 768) {
  #page-search input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #compcards div:nth-child(3) {
    background-position: center center;
  }
}
@media (min-width: 1400px) {
  #compcards div:first-child {
    margin-left: 25px;
  }
  #compcards div:last-child {
    margin-right: 25px;
  }
}
@media (min-width: 1501px) {
  #mainnav {
    min-width: 100%;
  }

  #page-search {
    margin-right: 10rem;
  }
}
@media (min-width: 2084px) {
  #page-search {
    margin-right: -1%;
  }

  #hero {
    min-height: 700px;
  }
}
@media (min-width: 2400px) {
  #page-search {
    margin-right: -10%;
  }
}/*# sourceMappingURL=sassOutput.css.map */