@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

* {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, p {
  color: #373a3c;
}

h3 {
  font-size: 1.17em;
}

button {
  background-color: #4c8930;
  color: #ffffff;
  border: none;
  min-width: 127px;
  min-height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 100;
  border-radius: 5px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

select {
  font-size: 16px;
  text-align: left;
  color: #555;
  font-weight: 100;
  cursor: pointer;
  background-color: #ffffff;
}

#language {
  min-width: 180px;
  min-height: 35px;
  border-radius: 5px;
  padding: 3px 8px 0 13px;
  margin: -2px 120px 0 10px;
  border: 0px;
}

.greybd {
  border: 1px solid #dddddd;
}

#togglemenu {
  display: none;
  position: fixed;
  background-color: #4c8930;
  padding-top: 300px;
  border-radius: 0 0 10px 0;
  opacity: 0.8;
}

@media only screen and (max-width: 1024px) {
  .hamburger {
    display: none;
  }

  .hamburgerbtn {
    display: inline;
  }
}
@media only screen and (min-width: 1024px) {
  .hamburger {
    display: block;
  }

  .hamburgerbtn, .dd {
    display: none;
  }
}
.dd {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #4c8930;
  width: 40px;
  height: 30px;
  padding: 3px 2px 10px 7px;
  border-radius: 5px;
  margin: 30px 0px 0px 10px;
}

.hamburgerbtn {
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.change {
  background-color: red;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change {
  transform: rotate(45deg) translate(-8px, -8px);
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
}

#topnav {
  min-height: 44px;
  text-align: center;
  font-weight: 200;
  padding-top: 12px;
}

#topnav a {
  color: #ffffff;
  padding: 0 10px 0 10px;
}

#mainnav {
  min-height: 110px;
}

#mainnav a {
  color: #999999;
  font-weight: 600;
}

#searchsubmit {
  background-color: #4c8930;
  color: #ffffff;
  border: none;
  padding: 10px 4.5px 10px 4.5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

#searchsite {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #dddddd;
  padding: 10px 4.5px 10px 4.5px;
  minimum-width: 177px;
  font-size: 16px;
  font-weight: 100;
  border-radius: 5px;
}

#logo {
  padding-left: 112px;
  margin-right: 30px;
}

#searchsite {
  max-width: 150px;
}

#page-search {
  margin-right: 1rem;
}
#page-search input {
  padding: 7.5px 15px 7.5px 15px;
  font-weight: 600;
}

#hero {
  background-image: url("../images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #666;
  max-height: 480px;
  background-position: center -128px;
}
#hero button {
  margin-top: -1rem;
  min-width: 141px;
  min-height: 50px;
}

#hero-title {
  font-size: 3.4rem;
}

#compcards div:nth-child(1) {
  background-image: url("../images/company.jpg");
}
#compcards div:nth-child(2) {
  background-image: url("../images/products.jpg");
}
#compcards div:nth-child(3) {
  background-image: url("../images/contact.jpg");
}

.compcard {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #666;
  background-position: center center;
  min-height: 222px;
  border-radius: 5px;
  text-align: center;
}
.compcard a {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 600;
}

#counters {
  margin-bottom: 4rem;
}

.counter {
  display: flex;
  max-height: 200px;
}
.counter p {
  line-height: 1rem;
  font-weight: 600;
  text-align: left;
}
.counter h2 {
  font-size: 3.5rem;
  font-weight: 200;
  line-height: 0rem;
}
.counter img {
  margin-top: 25px;
  max-height: 61px;
}

#news {
  background-color: #eceeef;
  margin-bottom: -21px;
}
#news h1 {
  font-size: 2rem;
}

.newsitem {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px 65px 10px 15px;
}
.newsitem h3 {
  font-weight: bold;
  margin-top: 0px;
}
.newsitem p {
  font-size: 0.75rem;
}

#references {
  background-color: #ffffff;
  margin: 0px 72px 10px 72px;
}
#references h1 {
  font-size: 2rem;
}

.referencesitem {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  min-height: 375px;
}
.referencesitem h4 {
  font-size: 1.4rem;
  margin: 20px 0px 0px 0px;
}
.referencesitem p {
  padding: 0 24px 0 24px;
}

.referencesimage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  min-height: 50%;
}

#newsletter {
  border-top: 1px solid #dddddd;
  padding-bottom: 19px;
}
#newsletter h1 {
  font-size: 2rem;
}
#newsletter p {
  max-width: 350px;
  margin-left: 20%;
}

#contact-info input {
  font-size: 16px;
  min-height: 50;
  min-width: 418px;
  padding: 13px 0 13px 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
}

#footer {
  min-height: 272px;
  padding: 0px 100px 0px 100px;
}
#footer h4 {
  font-size: 20px;
  padding: 10px 0 0 0;
}
#footer h5 {
  font-size: 16px;
  line-height: 10px;
  margin-bottom: -3px;
}
#footer .button {
  padding: 5px 15px;
}
#footer p {
  line-height: 10px;
}
#footer a {
  padding: 0 10px 0 10px;
}

#some a {
  padding: 0 4px 0 4px;
}

.button {
  background-color: #4c8930;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  #footer {
    text-align: center;
    min-height: 300px;
  }

  #topnav {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #language {
    margin: 10px 0 10px 0;
  }

  #page-search {
    margin-right: 18rem;
    margin-left: 8rem;
  }
  #page-search input {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }

  .menu {
    min-width: 200px;
  }

  #hero-title {
    font-size: 2rem;
    padding: 0 10px 0 10px;
  }

  #hero {
    min-height: 200px;
  }
  #hero button {
    margin-bottom: 1%;
  }

  #compcards div:nth-child(3) {
    background-position: center 0px;
  }

  #counters {
    margin-left: 25%;
  }

  #news h3 {
    font-size: 1rem;
  }
}
@media (min-width: 768) {
  #page-search input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #compcards div:nth-child(3) {
    background-position: center center;
  }
}
@media (min-width: 1400px) {
  #compcards div:first-child {
    margin-left: 25px;
  }
  #compcards div:last-child {
    margin-right: 25px;
  }

  #news div:first-child {
    margin-left: 25px;
  }
  #news div:last-child {
    margin-right: 38px;
  }

  #bottomnav {
    padding-left: 160px;
  }

  #footer {
    min-height: 272px;
    padding: 0px 100px 0px 100px;
  }
  #footer h4 {
    padding: 10px 0 0 0;
  }
  #footer h5 {
    margin-bottom: -3px;
  }
  #footer .button {
    margin: -40px 200px 0 0px;
  }

  .newsitem {
    height: 150px;
  }
}
@media (min-width: 1501px) {
  #mainnav {
    min-width: 100%;
  }

  #page-search {
    margin-right: 10rem;
  }
}
@media (min-width: 2084px) {
  #page-search {
    margin-right: -1%;
  }

  #hero {
    min-height: 700px;
  }
}
@media (min-width: 2400px) {
  #page-search {
    margin-right: -10%;
  }
}/*# sourceMappingURL=sassOutput.css.map */