$brand: #4c8930
$drpdownbg: #373a3c
body
	font-family: sans-serif
	font-size: 16px
	padding: 0px
	margin: 0px


#hero
	button
		background-color: $brand
		color: #fff
		border: none
		min-width: 141px
		min-height: 50px
		cursor: pointer
		font-size: 20px
		font-weight: 100
		border-radius: 5px

#newsletter
	button
		background-color: $brand
		color: #fff
		border: none
		min-width: 127px
		min-height: 50px
		cursor: pointer
		font-size: 20px
		font-weight: 100
		border-radius: 5px
a
	cursor: pointer
	text-decoration: none


select
	font-size: 16px
	text-align: left
	color: #555
	font-weight: 100
	cursor: pointer


#language
		min-width: 180px
		min-height: 35px
		border-radius:5px
		padding: 0 8px 0 13px
		margin: -2px 120px 0 10px
		border: 0px

.greybd
	border: 1px solid #ddd

#hero
	background-image: url("../images/yini.jpg")


#topnav
	min-height: 58-14px
	text-align: center
	font-weight: 200
	padding-top: 28-16px

#topnav
	a
		color: #fff
		padding: 0 10px 0 10px

// here we start on main nav
#mainnav
	min-height: 110px

#mainnav
	a
		color: #999999

#searchsubmit
	background-color: $brand
	color: #fff
	border: none
	padding: 10px 4.5px 10px 4.5px
	cursor: pointer
	font-size: 16px
	font-weight: 100
	border-radius: 5px


#searchsite
	background-color: #fff
	color: #000
	border: 1px solid #dddddd
	padding: 10px 4.5px 10px 4.5px
	minimum-width:177px
	font-size: 16px
	font-weight: 100
	border-radius: 5px

@media (max-width: 768px)
	#topnav
		padding-top: 10px
		padding-bottom: 10px
	#language
		margin: 10px 0 10px 0
